[submodule "haizhi-rocksdb-sys/snappy"]
	path = haizhi-librocksdb-sys/snappy
	url = https://github.com/google/snappy.git
[submodule "haizhi-librocksdb-sys/lz4"]
	path = haizhi-librocksdb-sys/lz4
	url = https://github.com/lz4/lz4.git
[submodule "haizhi-librocksdb-sys/rocksdb"]
	path = haizhi-librocksdb-sys/rocksdb
	url = https://github.com/githaizhi-tech/rocksdb.git
	branch = feature/approximate-size-with-option
